@model AccountViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}


<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>login</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <form class="register-form" method="post">
                                <div class="form-group">
                                    <label asp-for="user.Email" class="font-weight-600">Email</label>
                                    <input class="form-control" placeholder="Email" asp-for="user.Email">
                                    <span asp-validation-for="user.Email" class="text-danger">  </span>
                                </div>
                              
                                <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                <a asp-action="ForgetPassword" class="font-weight-500">Forget Password</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end -->
