@model AccountViewModel
@{
    ViewData["Title"] = "ForgetPassword";
}


<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>login</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <form class="register-form" method="post">
                                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-group">
                                    <label asp-for="Password" class="font-weight-600">Password</label>
                                    <input class="form-control" placeholder="Password" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger">  </span>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" placeholder="user.FullName" asp-for="user.Fullname">
                                    <span asp-validation-for="user.Fullname" class="text-danger">  </span>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" placeholder="Email" asp-for="user.Email">
                                    <span asp-validation-for="user.Email" class="text-danger">  </span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="font-weight-600">ConfirmPassword</label>
                                    <input class="form-control" placeholder="Password" asp-for="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger">  </span>
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Send</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login end -->
