@model List<Course>

@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-action="Detail">
                    <img src="~/img/course/@item.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a href="course-details.html">@item.Name</a></h3>
                <div class="mb-6" style="height:72px ; overflow:hidden">
                    <p>@item.Text</p>
                </div>

                <a class="default-btn" asp-controller="Course" asp-action="Detail">read more</a>
            </div>
        </div>
    </div>
}