
@model Course
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card mb-4">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="fs-17 font-weight-600 mb-0">Create Course</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo" class="font-weight-600">Photo</label>
                        <input class="form-control" placeholder="Photo" asp-for="Photo" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="font-weight-600">Name</label>
                        <input class="form-control" placeholder="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text" class="font-weight-600">Text</label>
                        <input class="form-control" placeholder="Text" asp-for="Text">
                        <span asp-validation-for="Text" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AboutCourse" class="font-weight-600">AboutCourse</label>
                        <input class="form-control" placeholder="AboutCourse" asp-for="AboutCourse">
                        <span asp-validation-for="AboutCourse" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HowToApply" class="font-weight-600">HowToApply</label>
                        <input class="form-control" placeholder="HowToApply" asp-for="HowToApply">
                        <span asp-validation-for="HowToApply" class="text-danger">  </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Certification" class="font-weight-600">Certification</label>
                        <input class="form-control" placeholder="Certification" asp-for="Certification">
                        <span asp-validation-for="Certification" class="text-danger">  </span>
                    </div>
                  
                    <div class="form-group" id="CategoryDiv">
                        <label asp-for="Category">Category</label>
                        <select class="form-control" name="CategoryId">
                            <option value="0">--Select Category--</option>
                            @foreach (var item in ViewBag.ParentCategories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>


                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
