
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <form class="register-form" method="post">
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="font-weight-600">CurrentPassword</label>
            <input class="form-control" placeholder="CurrentPassword" asp-for="CurrentPassword">
            <span asp-validation-for="CurrentPassword" class="text-danger">  </span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="font-weight-600">Password</label>
            <input class="form-control" placeholder="Password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger">  </span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="font-weight-600">ConfirmPassword</label>
            <input class="form-control" placeholder="Password" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger">  </span>
        </div>
        <button type="submit" class="btn btn-success btn-block">Send</button>

    </form>
</div>
